@tailwind base;
@tailwind components;
@tailwind utilities;

.content_bg {
  background-image: url('../components/Layout/assests/Rectangle\ 124.png');
  height: min-content;
  background-size: cover;
  background-repeat: no-repeat;
}
.predict_bg {
  background-image: url('../components/Layout/assests/predict.png');
  height: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
}