@tailwind base;
@tailwind components;
@tailwind utilities;

.content_bg {
  background-image: url('../components/Layout/assests/Rectangle\ 124.png');
  height: min-content;
  background-size: cover;
  background-repeat: no-repeat;
   
}
.predict_bg {
  background-image: url('../components/Layout/assests/predict.png');
  height: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.realtime_bg {
  background-image: url('../components/Layout/assests/MacBook\ Air\ -\ 1.png');
  height: 950px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

